<div class="container main">
  <h1>Bienvenid@ a {{title}}</h1>
  <p>El pequeño-gran CRUD de montañas rusas</p>
  <hr />
  <div class="links">
    <a href="/coasters/coasters" class="btn btn-warning">Ver montañas rusas</a>
    <a href="/parks/parks" class="btn btn-info">Ver parks</a>
  </div>
</div>