<div class="container">
  <h1>Bienvenid@ a {{title}}</h1>
  <p>El pequeño-gran CRUD de montañas rusas</p>
  <hr />

  <a href="/coasters/coasters" class="btn btn-dark">Ver montañas rusas</a>
  <a href="/parks/parks" class="btn btn-dark">Ver parks</a>

</div>